# Data Science Tools and Ecosystem

In this notebook, data science tools and the ecosystem are summarized.

__Objectives:__
- list popular languages for data science
- list popular libraries used by data scientists
- list popular open source data science tools
- show examples of arithmetic expressions used in Jupyter Notebooks

The following is a list of popular languages used by data scientists:
1. R
2. Python
3. SQL

Some of the commonly used libraries by data scientists are:
1. TensorFlow
2. NumPy
3. SciPy
4. Pandas
5. Matplotlib

| Data Science Tools |
| --- |
| Jupyter Notebooks |
| R Studio |
| Zeppelin Notebooks |

### Below are a few examples evaluating arithmetic expressions in Python:

In [7]:
#This is a simple arithmetic expression to multiply then add integers:
(3*4)+5

17

In [10]:
#This will convert 200 minutes into hours by dividing by 60:
200/60

3.3333333333333335

## Author
Ronald Barbour